@import "../../responsive.scss";

nav {
  // flex container
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    //logo doesnt disappear because .logo class is more specific than <a>
    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3; // take up 3 units of available flex container space
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex; // added flex so that gap can be set b/w name & logo
      gap: 10px;
      align-items: center; //initially after flex they aren't centered

      img {
        width: 34px;
      }

      span {
        @include md {
          display: none;
        }
        @include sm {
          //sets the element’s display property to its default value(inline for span)
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2; // take 2
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%; // takes entire height of parent nav container

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;

        .notification {
          position: absolute;
          top: -10px;
          right: -10px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .register {
      // display: block;
      background-color: #fece51;
    }

    .menuIcon {
      display: none; // default, u dont want hamburger icon when large size
      //but when size decreases
      //so we can see the icon after the sidebar becomes active
      z-index: 999;
      img {
        width: 36px;
        cursor: pointer;
      }
      @include sm {
        display: inline; // block element
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      //fixing the sidebar
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      //This styling is applied when the menu has the active class
      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
